{% block stylesheets %}
    <style>
        #simpleform {
            width:600px;
            border:2px solid grey;
            padding:14px;
        }
        #simpleform label {
            font-size:18px;
            float:left;
            width:300px;
            text-align:right;
            display:block;
        }
        #simpleform span {
            font-size:11px;
            color:grey;
            width:100px;
            text-align:right;
            display:block;
        }


        #simpleform button {
            clear:both;
            margin-left:250px;
            color:blue;
            border:solid 1px #666666;
            font-size:16px;
        }
    </style>
{% endblock %}

<div class="col-lg-7 col-md-10 mx-auto">
{{ form_start(form, {'attr':{'id':'trigger'}}) }}

    <div class="form-group">
        <label for="name">Nom du Trick</label>
        {{ form_widget(form.name, {'attr':{'class':'form-control'}}) }}
    </div>
    <div class="form-group">
        <label for="name">Description</label>
        {{ form_widget(form.description, {'attr':{'class':'form-control'}}) }}
    </div>
    <div class="form-group">
        <label for="name">Groupe</label>
        {{ form_widget(form.groupe, {'attr':{'class':'form-control'}}) }}
    </div>
    <div class="form-group">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">

                {% for i, image in trick.image %}
                    <div class="carousel-item {% if i==0 %}active{% endif %}">
                        <img style="padding-bottom: 20px" class="d-block w-100" src="{{ asset('images/'~image) }}" alt="First slide">
                        <a href="#" id="add_image" class="btn btn-danger">Supprimer cette image</a>
                    </div>
                {% endfor %}

            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="form-row">
        <div id="simpleform" class="form-group col-6 card-header p-2">
            {{ form_widget(form.video) }}
            <a href="#" id="add_video" class="btn btn-success float-right">Ajouter une vidéo</a>
        </div>
        <div id="simpleform" class="form-group col-6 card-header p-2">
            {{ form_widget(form.image) }}
            <a href="#" id="add_image" class="btn btn-success float-right">Ajouter une image</a>
            <div class="preview-0"></div>
        </div>
    </div>



    {% if(trick.image) %}
        {% set i=1 %}
        {% for image in trick.image %}
            <input type="hidden" value="{{ image.source }}" name="{{ i }}">
            {% set i=i+1 %}
        {% endfor %}
    {% endif %}
        <div class="form-group">
            <button class="btn btn-warning mt-2">{{ button_label|default('Enregistrer') }}</button>
        </div>

    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

{# Voici le script en question : #}
<script type="text/javascript">
    // Preview de mes images à l'upload.

    function createThumbnail(sFile,sId) {
        var oReader = new FileReader();
        oReader.addEventListener('load', function() {
            var oImgElement = document.createElement('img');
            oImgElement.setAttribute('width', 200);
            oImgElement.setAttribute('height', 200);
            oImgElement.src = this.result;
            console.log(sId);
            document.getElementById('preview-'+sId).appendChild(oImgElement);
        }, false);

        oReader.readAsDataURL(sFile);

    }
    function changeInputFil(oEvent){
        var oInputFile = oEvent.currentTarget,
            sName = oInputFile.name,
            aFiles = oInputFile.files,
            aAllowedTypes = ['png', 'jpg', 'jpeg', 'gif'],
            imgType;
        /* Faire que si le format n'est pas accepter, faire un truc */
        document.getElementById('preview-'+sName).innerHTML ='';
        for (var i = 0 ; i < aFiles.length ; i++) {
            imgType = aFiles[i].name.split('.');
            imgType = imgType[imgType.length - 1];
            if(aAllowedTypes.indexOf(imgType) !== -1) {
                createThumbnail(aFiles[i],sName);
            }
        }
    }

    document.addEventListener('DOMContentLoaded',function(){
        var aFileInput = document.forms['trigger'].querySelectorAll('[type=file]');
        for(var k = 0; k < aFileInput.length;k++){
            aFileInput[k].addEventListener('change', changeInputFil, false);
        }
    });

    $(document).ready(function() {
        // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
        var $container = $('div#tricks_video');

        // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
        var index = $container.find(':input').length;

        // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
        $('#add_video').click(function(e) {
            addVideo($container);

            e.preventDefault(); // évite qu'un # apparaisse dans l'URL
            return false;
        });

        // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
        if (index == 0) {
            addVideo($container);
        } else {
            // S'il existe déjà des catégories, on ajoute un lien de suppression pour chacune d'entre elles
            $container.children('div').each(function() {
                addDeleteLink($(this));
            });
        }

        // La fonction qui ajoute un formulaire CategoryType
        function addVideo($container) {
            // Dans le contenu de l'attribut « data-prototype », on remplace :
            // - le texte "__name__label__" qu'il contient par le label du champ
            // - le texte "__name__" qu'il contient par le numéro du champ
            //console.log($container.attr('data-prototype'));
            var template = $container.attr('data-prototype')
                .replace(/__name__label__/g, 'Video n°' + (index+1))
                .replace(/__name__/g,        index)
            ;

            // On crée un objet jquery qui contient ce template
            var $prototype = $(template);

            // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
            addDeleteLink($prototype);

            // On ajoute le prototype modifié à la fin de la balise <div>
            $container.append($prototype);

            // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
            index++;
        }

        // La fonction qui ajoute un lien de suppression d'une catégorie
        function addDeleteLink($prototype) {
            // Création du lien
            var $deleteLink = $('<a href="#" style="padding-top: 2px" class="btn btn-danger">Supprimer</a>');

            // Ajout du lien
            $prototype.append($deleteLink);

            // Ajout du listener sur le clic du lien pour effectivement supprimer la catégorie
            $deleteLink.click(function(e) {
                $prototype.remove();

                e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                return false;
            });
        }
    });
</script>

<script type="text/javascript">
    $(document).ready(function() {
        // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
        var $container = $('div#tricks_image');

        // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
        var index = $container.find(':input').length;

        // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
        $('#add_image').click(function(e) {
            addImage($container);

            e.preventDefault(); // évite qu'un # apparaisse dans l'URL
            return false;
        });

        // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
        if (index == 0) {
            addImage($container);
        } else {
            // S'il existe déjà des catégories, on ajoute un lien de suppression pour chacune d'entre elles
            $container.children('div').each(function() {
                addDeleteLink($(this));
            });
        }

        // La fonction qui ajoute un formulaire CategoryType
        function addImage($container) {
            // Dans le contenu de l'attribut « data-prototype », on remplace :
            // - le texte "__name__label__" qu'il contient par le label du champ
            // - le texte "__name__" qu'il contient par le numéro du champ
            //console.log($container.attr('data-prototype'));
            var template = $container.attr('data-prototype')
                .replace(/__name__label__/g, 'Image n°' + (index+1))
                .replace(/__name__/g,        index)
            ;


            // On crée un objet jquery qui contient ce template
            var $prototype = $(template);

            // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
            addDeleteLink($prototype);

            // On ajoute le prototype modifié à la fin de la balise <div>
            $container.append($prototype);

            // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
            index++;
        }

        // La fonction qui ajoute un lien de suppression d'une catégorie
        function addDeleteLink($prototype) {
            // Création du lien
            var $deleteLink = $('<a href="#" class="btn btn-danger mt-2">Supprimer</a>');

            // Ajout du lien
            $prototype.append($deleteLink);

            // Ajout du listener sur le clic du lien pour effectivement supprimer la catégorie
            $deleteLink.click(function(e) {
                $prototype.remove();

                e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                return false;
            });
        }
    });
</script>

{{ form_end(form) }}
