{% extends 'base.html.twig' %}

{% block title %}Tricks index{% endblock %}

{% block body %}
    <h1>Tricks index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Date</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for trick in tricks %}
            <tr>
                <td>{{ trick.name }}</td>
                <td>{{ trick.Description }}</td>
                <td>{{ trick.Date ? trick.Date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('tricks_show', {'id': trick.id}) }}">Voir</a>
                    <a href="{{ path('tricks_edit', {'id': trick.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tricks_new') }}">Créer un Trick</a>
{% endblock %}
